<div class="Container">
<div class="c-video">
  <video  id="my-video"
  class="video-js vjs-big-play-centered video vjs-my-fancy-modal"
  controls
  preload="auto"
  data-setup="{}">
    <source  src="../../assets/md-digital-solutions.mp4" type="video/mp4">
  </video>
</div>
<div class="text">
  <h1>Give the world the answer they need, become a Supernatural Partner today.</h1>
  <p>  elit. Veritatis, dolorem? Minus sed ullam ipsum accusantium eum quasi, adipisci autem sequi laborum harum ab tenetur, dignissimos ut cumque asperiores, nisi corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet veniam animi totam accusamus. Commodi a fugit architecto odio provident accusantium excepturi quos quam. Eos commodi dignissimos quam quos veniam. </p>
</div>

</div>
